.search-content-container {
    width: 245px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #bebebe;
    border-radius: 4px;
    box-shadow: 0 4px 7px #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}

.search-header-container {
    padding: 10px 5px 10px 10px;
}

.search-item-container {
    display: flex;
    flex-direction: row;
}

.search-item-title {
    margin-top: 10px;
    margin-left: 8px;
    color: black;
}

.search-item-info {
    display: flex;
    flex: 1;
    border-left: 1px solid #ccc;
    margin-left: 10px;
    padding: 10px 5px 10px 10px;
    color: black;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}