.search-content-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #bebebe;
    border-radius: 4px;
    box-shadow: 0 4px 7px #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}

.search-content-loading {
    min-width: 185px;
    min-height: 120px;
}

.search-header-container {
    padding: 10px 5px 10px 10px;
}

.search-header-key:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.search-item-container {
    display: flex;
    flex-direction: row;
}

.search-item-title {
    width: 60px;
    color: black;
    padding-left: 10px;
    padding-top: 8px;
}

.search-item-title-image {
    width: 15px;
    margin-right: 2px;
}

.search-item-info {
    width: 185px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: black;
}

.search-item-info-f7 {
    width: 185px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: black;
    background-color: #f7f7f7;
}

.search-ul {
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 3px 3px 8px;
}

.search-li:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}