.search-content {
    display: flex;
    flex-direction: column;
    width: 245px;
    background-color: #fff;
    border: 1px solid #bebebe;
    border-radius: 4px;
    box-shadow: 0 4px 7px #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}

.single-container {
    display: flex;
    flex-direction: row;
}

.single-title {

}

.single-content {

}