.dp-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dp-header {
    background-color: #5BAF5B;
    width: 100%;
    height: 285px;
}

.dp-content {
    background-color: cornflowerblue;
    width: 100%;
    height: 100%;
}