.app-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    height: 70px;
}

.app-header-logo {
    width: 176px;
    height: 69px;
    background: url(../../assets/img/sprite_01.png);
    display: inline-block;
}

.app-header-group {
    display: flex;
    font-size: 14px;
    font-weight: bold;
}

.app-header-item {
    position: relative;
    padding: 0 19px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #ccc;
}

.app-header-item:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

.app-header-item-active {
    position: relative;
    padding: 0 19px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: #000;
    color: #fff;
}

.app-header-item-active:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

/* 下面的小三角 */
.app-header-item-icon {
    position: absolute;
    width: 12px;
    height: 7px;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url(../../assets/img/sprite_01.png);
    background-position: 254px 0;
}

/* hot标签 */
.app-header-group:after {
    position: relative;
    content: '';
    width: 28px;
    height: 19px;
    background-image: url(../../assets/img/sprite_01.png);
    background-position: -192px 0;
    top: 20px;
    right: 6px;
}

.search-container {
    position: relative;
    margin-left: 50px;
}

.search-input {
    border-radius: 16px;
    font-size: 12px;
}

/* ant搜索框去除蓝色边框 */
.ant-input-affix-wrapper {
    border: none ;
    box-shadow: none;
}





